{% extends 'tvshowss/base.html' %}

{% load static %}

{% block content %}
    <div style="background: linear-gradient(to bottom, white, #808080);">

        <div class="row justify-content-center my-3">
            <div class="col-5">
                <img src="{% static 'tvshowss/ports.jpg' %}" class="img-fluid">
            </div>
        </div> 
        
        <div class="row justify-content-center mb-3">
            <div class="col-md-9 text-center">
                <h1 id="hometext" class="font-weight-bold"> Tv Shows Review</h1>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        {% for project in projects %}
        <div class="col-lg-4 col-md-6">
                {% if project.url %}
            <a href="{{ project.url }}">
                <img src="{{ project.image.url }}" class="img-fluid mb-2">
            </a>
            {% else %}
        
            <img height="200" width="200" src="{{ project.image.url }}" class="img-fluid mb-2">
            {% endif %}
            <a href="{% url 'all_reviews:detail' project.id %}"><h2>{{ project.title }}</h2></a>
            <h5>{{ project.description|striptags|truncatechars:50 }}</h5>
      
      
        </div>
        {% endfor %}
      </div>
      <div style="height:200px;width:200px;float: right;">
        <p align="right">
            <a role="button" href="{% url 'all_reviews:all' %}" class="btn btn-secondary">View All</a>
        </p>
      </div>
        

{% endblock %}